{% extends "base.html" %}
{% load mptt_tags %}
{% block content %}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="medium-10 cell">
      <h3>Hominin Nomenclature</h3>
        <p>The following list contains all the scientific names applied to taxa of the human lineage. The listing is
        updated from Campbell's (1965) listing of Hominid nomenclature. Each entry provides the formal scientific name
        and full reference.  Species entries include the fossil catalog numbers for the type specimen and
        associate paratypes as listed in the nominal publication. </p>
      <hr/>

      <!-- simple listing -->
      <div>
        <ul>
          {% for name in taxa %}
          <h4><a href="{% url 'origins:taxon_detail_view' name.id %}">{{ name.verbatim_name | safe }}</a></h4>
          <!-- main reference -->
          <p>
          {% if name.name_reference %}
              {% with name.name_reference as publication %}
                {% if publication.url %}<a href="{{publication.url}}" target="_blank">{% endif %}
                {{ publication.authors }}. {{ publication.year }}. {{ publication.title }}{% if not publication.title_ends_with_punct %}.{% endif %}
                {% if publication.journal %}<i>{{ publication.journal }}</i>.{% endif %}
                {% if publication.book_title %} <i>{{ publication.book_title }}</i>,{% endif %}
                {% if publication.publisher %} {{ publication.publisher }},{% endif %}
                {% if publication.institution %} {{ publication.institution }},{% endif %}
                {% if publication.volume %} <b>{{ publication.volume }}</b>{% endif %}
                {% if publication.number %} ({{ publication.number }}){% endif %}:
                {% if publication.pages %}{{ publication.pages }}{% endif %}
                {% if publication.url %}</a>{% endif %}
              {% endwith %}
          {% endif %}
          </p>
          {% if name.type_specimen %}
          <p>{% if name.type_status %}{{ name.type_status | title}}{% else %}Type{% endif %}: {{ name.type_specimen }}</p>
          {% endif %}
          {% endfor %}
        </ul>
      </div>


      {% comment %}
      <!-- according listing -->
        <div>
          <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
          {% for name in taxa %}
            <li class="accordion-item" data-accordion-item>

              <h5><a href="{% url 'origins:taxon_detail_view' name.id %}">{{ name.scientific_name }}</a></h5>
              <div class="accordion-content" data-tab-content>
                <!-- main reference -->
                {% for publication in name.name_reference.all %}
                {{ publication.authors }}. {{ publication.title }}
                {% if not publication.title_ends_with_punct %}.{% endif %}
                {% if publication.journal %} {{ publication.journal }},{% endif %}
                {% if publication.book_title %} {{ publication.book_title }},{% endif %}
                {% if publication.publisher %} {{ publication.publisher }},{% endif %}
                {% if publication.institution %} {{ publication.institution }},{% endif %}
                {% if publication.volume %} volume {{ publication.volume }},{% endif %}
                {% if publication.number %} issue {{ publication.number }},{% endif %}
                {% if publication.pages %} pages {{ publication.pages }},{% endif %}
                {% if publication.month %} {{ publication.month_long }}{% endif %} {{ publication.year }}.<br/>
                {% endfor %}
                <!-- additional references -->
                {% for publication in name.references.all %}
                {{ publication.authors }}. {{ publication.title }}
                {% if not publication.title_ends_with_punct %}.{% endif %}
                {% if publication.journal %} {{ publication.journal }},{% endif %}
                {% if publication.book_title %} {{ publication.book_title }},{% endif %}
                {% if publication.publisher %} {{ publication.publisher }},{% endif %}
                {% if publication.institution %} {{ publication.institution }},{% endif %}
                {% if publication.volume %} volume {{ publication.volume }},{% endif %}
                {% if publication.number %} issue {{ publication.number }},{% endif %}
                {% if publication.pages %} pages {{ publication.pages }},{% endif %}
                {% if publication.month %} {{ publication.month_long }}{% endif %} {{ publication.year }}.<br/>
                {% endfor %}
              </div>
        {% endfor %}
          </ul>
        </div>
        {% endcomment %}

    </div>
  </div>
</div>
{% endblock %}
