{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% load paleocore_utils %}
{% block content %}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="medium-10 cell">
      {% if page.title %}
      <h1> {{page.title}} </h1>
      {% else %}
      <h1>Hominid Nomenclature</h1>
      {% endif %}

      {% if page.body %}
      <p> {{page.body}} </p>
      {% else %}
      <p>The following list contains {{count}} scientific names applied to taxa of the human lineage. The listing is
        updated from Campbell's (1965) listing of Hominid nomenclature. Each entry provides the formal scientific name
        and full reference.  Species entries include the fossil catalog numbers for the type specimen and
        associate paratypes as listed in the nominal publication. </p>
      {% endif %}
      <hr/>
      {% comment %}
      <p>Fontawesome test<br/>
        docsfa fa-external-link: <i class="fa fa-external-link"></i><br/>
        docsfa fa-external-link-alt: <i class="fa fa-external-link-alt"></i><br/>
        docsfa fa-gears<i class="fa fa-gears"></i><br/>
        <i class="fa fa-gear-alt"></i><br/>
        <i class="fa icon-fa-gear-alt"></i><br/>
        wagtailfa icon-fa-external-link-alt: <i class="fa fa-external-link-alt"></i><br/>
        wagtailfa icon-fa-external-link-square-alt:<i class="fa fa-external-link-square-alt"></i><br/>
        wagtailfa icon-fa-gears-alt:<i class="fa fa-gears-alt"></i><br/>
        wagtailfa icon-fa-address-book:<i class="fa icon-fa-address-book"></i><br/>
        fa fa-cart-arrow-down: <i class="fa fa-cart-arrow-down"></i><br/>
        docsfa fa-exclamation-triangle: <i class="fa fa-exclamation-triangle"></i>



        <i class="fa fa-caret-down"></i>
        <i class="fa fa-book"></i>
        <i class="fa fa-car"></i>
        <i class="fa fa-external-link" aria-hidden="true"></i>
        <i class="fa fa-android"></i>
        <i class="fa fa-angle-double-down"></i>
        <i class="fa fa-address-book">fontawesome</i>
      </p>
      {% endcomment %}

      {% include 'origins/includes/nomina_list.html' %}




    </div>
  </div>
</div>
{% endblock %}
