{% load paleocore_utils %}
<!-- Nomen Detail -->
<div id="nomen">
  <!-- Title Card -->
  {% include 'origins/includes/nomen_title_card.html' %}
  <!-- End Title Card -->

  <!-- Details Card -->
  {% include 'origins/includes/nomen_details_card.html' %}
  <!-- End Details Card -->

  <!-- Remarks Card -->
  {% include 'origins/includes/nomen_remarks_card.html' %}
  <!-- End Remarks Card -->

  <!-- Authorship Reference Card -->
  {% include 'origins/includes/authorship_reference_card.html' %}
  <!-- End Authorship Reference Card -->

  <div>
    <!-- Additional References -->
    <!-- Additional references section and cards are completely hidden if no additional refs -->
    {% if nomen.references.all %}
        <div class="card">
          <div class="card-section">
            <h6>Additional References</h6>
            {% for publication in nomen.references.all|dictsort:"year" %}
            {% include 'publications/publication.html' %}
            {% if forloop.last %}
            {% else %}<hr/>
            {% endif %}
            {% endfor %}
          </div>
        </div>
    {% endif %}
  </div>
</div>
