{% load paleocore_utils %}
<!-- simple listing -->
<div id="nomen">
  <!-- Title: Nomen and Authorship -->
  <div>
    <h5><em>{{ nomen.name}}</em> {{nomen.authorship}}</h5>
  </div>
  <hr/>
  <!-- Name reference -->
  <div>
    {% if nomen.name_reference %}
    <h6>Authorship Reference</h6>
      <div class="card">
          <div class="card-section">
          {% with nomen.name_reference as publication %}
            {% include 'publications/publication.html' %}<br/>
          {% endwith %}
          </div>
      </div>
    {% endif %}
  </div>

  <!-- Details -->
  <div>
    <!-- Nomen Details -->
    <h6>Details</h6>
    {% if nomen.type_specimen or nomen.nomenclatural_status %}
      <div class="card">

        <!-- Status Details -->
        {% if nomen.nomenclatural_status %}
          <div class="card-section">
            Status:
            {% if nomen.nomenclatural_status %}
              {{ nomen.nomenclatural_status|unslugify|capfirst }}
            {% endif %}
          </div>
        {% endif %}

        <!-- Type Specimen -->
        {% if nomen.type_specimen.type_status %}
          <div class="card-section">
          {{nomen.type_specimen.type_status | title}}:
            {% if nomen.type_specimen.organism_id %}
              {{ nomen.type_specimen.organism_id }}<br/>
            {% else %}
              {{nomen.type_specimen.catalog_number}}<br/>
            {% endif %}
          </div>
          {% else %}
          <div class="card-section">
          Type Specimen: {{ nomen.type_specimen.catalog_number }}<br/>
          </div>
        {% endif %}

        {% comment %} Move the functionality of this code to wagtail
        <!-- Nomen Remarks -->
        <!-- Move remarks into the Wagtail system
        {% if nomen.remarks %}
        <div class="card-section">
          Remarks: {{ nomen.remarks | safe}}
        {% endif %}
        </div>
        -->
        {% endcomment %}
      </div>
    {% else %}
      <div class="card">
        <div class="card-section">
        No details available.
        </div>
      </div>

    {% endif %}
  </div>

  <div>
    <!-- Additional References -->
    {% if nomen.references.all %}
      <h6>Additional References</h6>
      {% for publication in nomen.references.all %}
        <div class="card">
          <div class="card-section">
          {% include 'publications/publication.html' %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
