<!-- simple listing -->
<div>
  {% for nomen in nomina %}
    <div id="nomen">
      <h5><em>{{ nomen.name}}</em> {{nomen.authorship}}</h5>

        <div class="nomen-type">
          {% if nomen.type_object %}
            {% if nomen.type_object.type_status %}
            {{nomen.type_object.type_status | title}}: {{nomen.type_object.catalog_number}} <br/>
            {% else %}
            Type Specimen: {{ nomen.type_object.catalog_number }}<br/>
            {% endif %}
          {% endif %}
          {% if nomen.nomenclatural_status %}
            Nomenclatural Status:
            {% if nomen.nomenclatural_status in valid %}
            Available - Valid<br/>
            {% elif nomen.nomenclatural_status in invalid %}
            Available - Invalid<br/>
            {% elif nomen.nomenclatural_status in unavailable %}
            Unavailable<br/>
            {% endif %}
          {% endif %}
        </div>


      {% if nomen.name_reference %}
          {% with nomen.name_reference as publication %}
            {{ publication.authors }}. {{ publication.year }}. {{ publication.title }}{% if not publication.title_ends_with_punct %}.{% endif %}
            {% if publication.journal %}<em>{{ publication.journal }}</em>.{% endif %}
            {% if publication.book_title %} <em>{{ publication.book_title }}</em>.{% endif %}
            {% if publication.publisher %} {{ publication.publisher }},{% endif %}
            {% if publication.institution %} {{ publication.institution }}.{% endif %}
            {% if publication.volume %} <b>{{ publication.volume }}</b>{% endif %}
            {% if publication.number %} ({{ publication.number }}){% endif %}
            {% if publication.pages %}:{{ publication.pages }}{% endif %}
            {% if publication.url %}<br/><a href="{{publication.url}}" target="_blank"><i class="fa fa-external-link-alt"></i> {% endif %}{{publication.url}}{% if publication.url %}</a>{% endif %}
          {% endwith %}
      {% endif %}
    </div>
  {% endfor %}
</div>

<!-- accordian listing -->
{% comment %}
<div>
  <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    {% for name in nomina %}
      <li class="accordion-item" data-accordion-item>
        <h5><a href="{% url 'origins:taxon_detail_view' name.id %}">{{ name.name }}</a></h5>
        <div class="accordion-content" data-tab-content>
          <!-- main reference -->
          {% for publication in name.name_reference.all %}
          {{ publication.authors }}. {{ publication.title }}
          {% if not publication.title_ends_with_punct %}.{% endif %}
          {% if publication.journal %} {{ publication.journal }},{% endif %}
          {% if publication.book_title %} {{ publication.book_title }},{% endif %}
          {% if publication.publisher %} {{ publication.publisher }},{% endif %}
          {% if publication.institution %} {{ publication.institution }},{% endif %}
          {% if publication.volume %} volume {{ publication.volume }},{% endif %}
          {% if publication.number %} issue {{ publication.number }},{% endif %}
          {% if publication.pages %} pages {{ publication.pages }},{% endif %}
          {% if publication.month %} {{ publication.month_long }}{% endif %} {{ publication.year }}.<br/>
          {% endfor %}
          <!-- additional references -->
          {% for publication in name.references.all %}
          {{ publication.authors }}. {{ publication.title }}
          {% if not publication.title_ends_with_punct %}.{% endif %}
          {% if publication.journal %} {{ publication.journal }},{% endif %}
          {% if publication.book_title %} {{ publication.book_title }},{% endif %}
          {% if publication.publisher %} {{ publication.publisher }},{% endif %}
          {% if publication.institution %} {{ publication.institution }},{% endif %}
          {% if publication.volume %} volume {{ publication.volume }},{% endif %}
          {% if publication.number %} issue {{ publication.number }},{% endif %}
          {% if publication.pages %} pages {{ publication.pages }},{% endif %}
          {% if publication.month %} {{ publication.month_long }}{% endif %} {{ publication.year }}.<br/>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endcomment %}

