{% load wagtailcore_tags %}
{% load paleocore_utils %}

<!-- Nomina listing -->
<div>
  <table id="data-table" class="display" style="width:100%">
    <!-- Table Headers -->
    <thead>
    <tr>
      <!-- Five columns: Index, Scientific Name, Year, Type Specimen, Status -->
      <th scope="col"></th>
      <th scope="col">Scientific Name</th>
      <th scope="col">Year</th>
      <th scope="col">Type Specimen</th>
      <th scope="col">Status</th>
    </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
    <!-- iterate over all names -->
    {% for nomen in nomina %}
    <tr>
      <!-- Column 1 Indiex -->
      <th scope="row">{{ forloop.counter }}</th>
      <!-- Column 2 Scientific Name -->
      <td>
        <a href=" {% pageurl page  %}detail/{{nomen.id}}"><em>{{ nomen.name}}</em> {{nomen.authorship}}</a>
      </td>
      <!-- Column 3 Year -->
      <td>
        {% if nomen.year %}
          {{ nomen.year }}
        {% else %}
          &nbsp;
        {% endif %}
      </td>
      <!-- Column 4 Type Specimen -->
      <td>{% if nomen.type_specimen %}
            {% if nomen.type_specimen.type_status %}
            {{nomen.type_specimen.type_status | title}}:
              {% if nomen.type_specimen.organism_id %}
                {{ nomen.type_specimen.organism_id }}<br/>
              {% else %}
                {{nomen.type_specimen.catalog_number}}<br/>
              {% endif %}
            {% else %}
            {{ nomen.type_specimen.catalog_number }}<br/>
            {% endif %}
          {% endif %}
      </td>
      <!-- Column 5 Nomenclatural Status -->
      <td>
        {% if nomen.nomenclatural_status %}
          {{ nomen.nomenclatural_status|unslugify|capfirst }}
        {% else %}
          &nbsp;
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<!-- elaborate listing -->
{% comment %}
<div>
  {% for nomen in nomina %}
    <div id="nomen">
      <h5><a href=" {% pageurl page  %}detail/{{nomen.id}}"><em>{{ nomen.name}}</em> {{nomen.authorship}}</a></h5>

        <div class="nomen-type">
          {% if nomen.type_specimen %}
            {% if nomen.type_specimen.type_status %}
            {{nomen.type_specimen.type_status | title}}:
              {% if nomen.type_specimen.organism_id %}
                {{ nomen.type_specimen.organism_id }}<br/>
              {% else %}
                {{nomen.type_specimen.catalog_number}}<br/>
              {% endif %}
            {% else %}
            Type Specimen: {{ nomen.type_specimen.catalog_number }}<br/>
            {% endif %}
          {% endif %}
          {% if nomen.nomenclatural_status %}
            Nomenclatural Status:
            {% if nomen.nomenclatural_status in valid %}
            Available - Valid<br/>
            {% elif nomen.nomenclatural_status in invalid %}
            Available - Invalid<br/>
            {% elif nomen.nomenclatural_status in unavailable %}
            Unavailable<br/>
            {% endif %}
          {% endif %}
        </div>


      {% if nomen.name_reference %}
          {% with nomen.name_reference as publication %}
            {{ publication.authors }}. {{ publication.year }}. {{ publication.title }}{% if not publication.title_ends_with_punct %}.{% endif %}
            {% if publication.journal %}<em>{{ publication.journal }}</em>.{% endif %}
            {% if publication.book_title %} <em>{{ publication.book_title }}</em>.{% endif %}
            {% if publication.publisher %} {{ publication.publisher }},{% endif %}
            {% if publication.institution %} {{ publication.institution }}.{% endif %}
            {% if publication.volume %} <b>{{ publication.volume }}</b>{% endif %}
            {% if publication.number %} ({{ publication.number }}){% endif %}
            {% if publication.pages %}:{{ publication.pages }}{% endif %}
            {% if publication.url %}<br/><a href="{{publication.url}}" target="_blank"><i class="fa fa-external-link-alt"></i> {% endif %}{{publication.url}}{% if publication.url %}</a>{% endif %}
          {% endwith %}
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endcomment %}

<!-- accordian listing -->
{% comment %}
<div>
  <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    {% for name in nomina %}
      <li class="accordion-item" data-accordion-item>
        <h5><a href="{% url 'origins:taxon_detail_view' name.id %}">{{ name.name }}</a></h5>
        <div class="accordion-content" data-tab-content>
          <!-- main reference -->
          {% for publication in name.name_reference.all %}
          {{ publication.authors }}. {{ publication.title }}
          {% if not publication.title_ends_with_punct %}.{% endif %}
          {% if publication.journal %} {{ publication.journal }},{% endif %}
          {% if publication.book_title %} {{ publication.book_title }},{% endif %}
          {% if publication.publisher %} {{ publication.publisher }},{% endif %}
          {% if publication.institution %} {{ publication.institution }},{% endif %}
          {% if publication.volume %} volume {{ publication.volume }},{% endif %}
          {% if publication.number %} issue {{ publication.number }},{% endif %}
          {% if publication.pages %} pages {{ publication.pages }},{% endif %}
          {% if publication.month %} {{ publication.month_long }}{% endif %} {{ publication.year }}.<br/>
          {% endfor %}
          <!-- additional references -->
          {% for publication in name.references.all %}
          {{ publication.authors }}. {{ publication.title }}
          {% if not publication.title_ends_with_punct %}.{% endif %}
          {% if publication.journal %} {{ publication.journal }},{% endif %}
          {% if publication.book_title %} {{ publication.book_title }},{% endif %}
          {% if publication.publisher %} {{ publication.publisher }},{% endif %}
          {% if publication.institution %} {{ publication.institution }},{% endif %}
          {% if publication.volume %} volume {{ publication.volume }},{% endif %}
          {% if publication.number %} issue {{ publication.number }},{% endif %}
          {% if publication.pages %} pages {{ publication.pages }},{% endif %}
          {% if publication.month %} {{ publication.month_long }}{% endif %} {{ publication.year }}.<br/>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endcomment %}

